/* Some color and font options are kept here at root*/
:root {
    --contentfont: 'Sarabun', sans-serif;
    --hover: #eff6e0;
    --lightblue: #598392;
}

/* This will make the scroll effect natural, though GitHub pages didn't let it work on my last project*/
html {
    scroll-behavior: smooth;
}

/* Setting background color and margin*/
body {
    margin: 0;
    background-color: #dcf8ec;
}

/* Styles the h1 tag- the site title*/
h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 3rem;
    font-size: 100px;
    color: #124559;
    /* this is a google font*/
    font-family: 'Tilt Warp', cursive;
    vertical-align: middle;

}

/*Sets the background image for the banner which is behind the site title, 
commented out is the original css pattern I had in the background. I'd like to keep it there for now.  */
.banner {
    background-image: url(https://raw.githubusercontent.com/JanicaJensen/jjensen_webdev_portfolio/main/assets/bannerbackground2.png);
    background-size: cover;
    /*background-image: radial-gradient(#33d48c 2px, transparent 2px), radial-gradient(#33d48c 2px, transparent 2px);*/
    /*background-size: 18px 18px;*/
    /*background-position: 0 0, 9px 9px;*/
    /*background-color: #dcf8ec;*/
    height: 300px;
    width: 100%;

}

/* Makes sure the links don't show up as an ugly color*/
a {
    text-decoration: none;
    color: #01161e;
}

/* Styles the nav bar*/
nav {
    width: 100%;
    margin-bottom: 2em;
    background-color: #598392;
    height: 60px;
    color: white;
}


/* Styles the list that makes up the nav bar */
ul {
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

li {
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    padding: 10px;
}

/*styles all h2s over the body sections*/
h2 {
    font-size: 60px;
    font-family: 'Tilt Warp', cursive;
    color: #124559;
    text-align: center;
}

/* styles elements in the About section*/
.about {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: #A5D8E8;

}

.about div {
    display: flex;
}

.about img {
    height: 400px;
    padding-right: 2rem;
    padding-left: 6rem;
}

.about p {
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: 3rem;
    font-size: 30px;
    font-family: 'Sarabun', sans-serif;
    width: 60%;
}

/*Styles elements in the Work section*/

.work p {
    padding: 1em;
}


.worksection {
    width: 97%;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}


.workdiv {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2em;
}

.workdiv p {
    font-family: 'Tilt Warp', cursive;
    font-size: 20px;
}

.workdiv img {
    width: 300px;
    height: 300px;
}

/*Sets dimensions for the featured app img*/
.featuredapp {
    height: 300px;
    width: 100%;
}

/* Styles the Contact section*/
.contact {
    width: 100%;
    padding-bottom: 2rem;
    background-color: #1b4965;
    color: #dcf8ec;
}

.contact h2 {
    padding-top: 6rem;
    color: #dcf8ec;
}

.contactsection {
    display: flex;
    justify-content: center;
}

/*styles the form in the Contact section*/
form {
    display: flex;
    flex-direction: column;
    font-family: var(--contentfont);
    font-size: 30px;
    padding-left: 7rem;
    padding-bottom: 1rem;
}

.contactsectionright {
    display: flex;
    float: right;
    width: 50%;
    text-align: center;
    justify-content: center;


}

.contactsectionright p {
    padding-right: 1rem;
}

/*Styles the lables, inputs, and button of the form WITHIN the Contactsection*/
label {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#message {
    height: 200px;
    width: 600px;
}

#email {
    height: 60px;
    width: 300px;
}

button {
    height: 50px;
    width: 60px;
    margin: 1rem;
    border-radius: 10%;
    background-color: var(--lightblue);
    font-family: var(--contentfont);
}


/*Styles the right side of the Contact section since it is in 2 columns*/
.rightsection {
    text-align: center;

}


.rightsection p {
    font-family: var(--contentfont);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    align-items: center;

}

/*These are some pseudo elements for hover effects*/
button:hover {
    color: var(--hover);
}

a:hover {
    color: var(--hover)
}

.specialimg:hover {
    transform: scale(1.5);
}

/*This here attempts to optimize the site for different screen widths*/
@media screen and (max-width:768px) {
    .workdiv {
        float: none;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }
}

/* This is an attempt to optimize for phone screen width*/


@media screen and (max-width:375px) {
    .workdiv div {
        float: center;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }

    #message {
        height: 200px;
        width: 300px;
    }

    #email {
        height: 60px;
        width: 150px;
    }
}

/* my iphone */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .workdiv {
        float: none;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }
}

/* This is an attempt to optimize for phone screen width*/


@media screen and (max-width:375px) {
    .workdiv div {
        float: center;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }

    #message {
        height: 200px;
        width: 300px;
    }

    #email {
        height: 60px;
        width: 150px;
    }

}