:root {
    --contentfont: 'Sarabun', sans-serif;
    --hover: #eff6e0;
    --lightblue: #598392;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #dcf8ec;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    margin-top: 0;
    padding-top: 3rem;
    font-size: 100px;
    color: #124559;
    /* this is a google font*/
    font-family: 'Tilt Warp', cursive;
    vertical-align: middle;

}

.banner {
    /*background-image: radial-gradient(#33d48c 2px, transparent 2px), radial-gradient(#33d48c 2px, transparent 2px);*/
    background-image: url("bannerbackground2.png");
    /*background-size: 18px 18px;*/
    /*background-position: 0 0, 9px 9px;*/
    /*background-color: #dcf8ec;*/
    height: 300px;
    width: 100%;

}

a {
    text-decoration: none;
    color: #01161e;
}

nav {
    width: 100%;
    margin-bottom: 2em;
    background-color: #598392;
    height: 60px;
    color: white;
}



ul {
    list-style: none;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: salmon;

}

li {
    font-size: 30px;
    font-family: 'Tilt Warp', cursive;
    padding: 10px;
    color: salmon;
}

/* You had width at 97%, a border, marginb 2em, marginL 1em, MarginR 2em*/
.about {
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-color: #A5D8E8;

}

.about div {
    display: flex;
}

.about img {
    height: 400px;
    padding-right: 2rem;
    padding-left: 6rem;
}



.work p {
    padding: 1em;
}

.about p {
    padding-left: 3em;
    padding-bottom: 2em;
    padding-top: 3rem;
    font-size: 30px;
    font-family: 'Sarabun', sans-serif;
    width: 60%;
}

h2 {
    /*padding-left: 2em;
    padding-top: 1em;*/
    font-size: 60px;
    font-family: 'Tilt Warp', cursive;
    color: #124559;
    text-align: center;
}

.worksection {
    width: 97%;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 2em;
    display: flex;
    flex-direction: column;
}

.featuredapp {
    height: 300px;
    width: 100%;
}

.workdiv {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 2em;
}

.workdiv p {
    font-family: 'Tilt Warp', cursive;
    font-size: 20px;
}

.workdiv img {
    width: 300px;
    height: 300px;
}

.contact {
    width: 100%;
    margin-bottom: 2em;
    margin-left: 1em;
    margin-right: 2em;
    background-color: #1b4965;
    color: #dcf8ec;
}

.contact h2 {
    padding-top: 6rem;
    color: #dcf8ec;
}

.contactsection {
    display: flex;
}

form {
    display: flex;
    flex-direction: column;
    font-family: var(--contentfont);
    font-size: 30px;
    padding-left: 7rem;
    padding-bottom: 1rem;
}



.contactsectionright {
    display: flex;
    float: right;
    width: 50%;
    text-align: center;
    justify-content: center;
}

label {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

#message {
    height: 200px;
    width: 600px;
}

#email {
    height: 60px;
    width: 300px;
}

button {
    height: 50px;
    width: 60px;
    margin: 1rem;
    border-radius: 10%;
    background-color: var(--lightblue);
    font-family: var(--contentfont);
}



.rightsection p {
    font-family: var(--contentfont);
    font-size: 30px;
    text-align: center;
    font-weight: bold;

    /*padding-left:15rem;*/
}

button:hover {
    color: var(--hover);
}

a:hover {
    color: var(--hover)
}


@media screen and (max-width:768px) {
    .workdiv {
        float: none;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }
}

/* double check all these things below */


@media screen and (max-width:387px) {
    .workdiv {
        float: center;
        flex-direction: column;
        margin-bottom: 2px
    }

    .contactsection {
        float: center;
        flex-direction: column;
    }

    .contactsectionright {
        float: center;
    }

    .about div {
        flex-direction: column;
    }
}


/*
@media screen and and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    .workdiv {
        float: none;
        flex-direction: column;
        margin-bottom: 2px
    }
}

@media screen and (max-width:126px) {
    .workdiv {
        float: none;
        flex-direction: column;
        margin-bottom: 2px
            /*
            position: relative;
            width: 100%;
            margin: auto; */
}
}

*/